version: "3.9"

networks:
  traefik-external:
    external: true
  mysql:
    attachable: true
  
services:
  mysql:
    image: rhsmart/mysql-demo:8.0.43
    networks:
      mysql:
    volumes:
      - /opt-ssd/users/${CLIENT}/mysql:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=${CLIENT}12345
      - MYSQL_ROOT_HOST=%
      - MYSQL_DATABASE=${CLIENT}
      - MYSQL_USER=${CLIENT}
      - MYSQL_PASSWORD=${CLIENT}12345
      - LANG=pl_PL.UTF-8
      - TZ=Europe/Warsaw
      - IMAGE=${WERSJA}
    healthcheck:
      disable: true      
    deploy:
      placement:
        constraints: [node.role != manager]    
      labels:
        - "traefik.enable=true"
        - "traefik.docker.lbswarm=true"
        - "sablier.enable=true"
        - "sablier.group=${CLIENT}"
      resources:
        limits:
          memory: 2G
    
  php-fpm:
    image: docker.io/rhsmart/moodle-php-fpm:${WERSJA_PHP}-demo
    volumes:
      - type: tmpfs
        target: /dev/shm
        tmpfs:
           size: 134217728   
      - /opt/users/${CLIENT}/html:/var/www
      - /opt/users/${CLIENT}/moodle:/var/moodledata
      - /opt/users/${CLIENT}/mail:/opt/mail
      - /opt/konfiguracje/php-fpm/fpm-www.conf-02gb:/usr/local/etc/php-fpm.d/www.conf
    networks:
      mysql:
    environment:
      - CLIENT=${CLIENT}
      - FTPPASS=ZmienMnie1
      - DBHOST=${MYSQLHOST}
      - DBPASS=${CLIENT}12345
      - DBUSER=${CLIENT}
      - DBNAME=${CLIENT}
      - TZ=Europe/Warsaw
      - IMAGE=${WERSJA}
      - MAIL_TO=${MAIL_TO}
    deploy:
      placement:
        constraints: [node.role != manager]
      labels:
        - "traefik.enable=true"
        - "traefik.docker.lbswarm=true"
        - "sablier.enable=true"
        - "sablier.group=${CLIENT}"
      resources:
        limits:
          memory: 2G
 
  nginx:
    image: rhsmart/moodle-fpm-nginx:1.27.4
    depends_on: 
      - php-fpm
    volumes:
      - /opt/users/${CLIENT}/html:/var/www:Z
      - /opt/users/${CLIENT}/moodle:/var/moodledata:Z
    networks:
      mysql:
      traefik-external:
    healthcheck:
      test: curl --fail http://localhost/login/index.php || exit 1
      interval: 10s
      timeout: 30s
      retries: 5
      start_period: 10s      
    deploy:
      placement:
        constraints: [node.role != manager]
      resources:
        limits:
          memory: 512M        
      labels:
        - "traefik.enable=true"
        - "traefik.docker.lbswarm=true"
        - "sablier.enable=true"
        - "sablier.group=${CLIENT}"
        
        - "traefik.http.routers.${CLIENT}.rule=Host(`${CLIENT}.app.hrcode.io`)"
        - "traefik.http.routers.${CLIENT}.entrypoints=web"
        - "traefik.http.routers.${CLIENT}.middlewares=redirectscheme"
        
        - "traefik.http.routers.${CLIENT}-tls.rule=Host(`${CLIENT}.app.hrcode.io`)"
        - "traefik.http.routers.${CLIENT}-tls.entrypoints=websecure"
        - "traefik.http.routers.${CLIENT}-tls.service=${CLIENT}-tls"
        - "traefik.http.routers.${CLIENT}-tls.tls=true"
        - "traefik.http.routers.${CLIENT}-tls.middlewares=${CLIENT}-tls"
        - "traefik.http.services.${CLIENT}-tls.loadbalancer.server.port=80"
        - "traefik.http.middlewares.${CLIENT}-tls.chain.middlewares=tls-Header,http-compress,${CLIENT}-sablier"

        - "traefik.http.middlewares.${CLIENT}-sablier.plugin.sablier.group=${CLIENT}"
        - "traefik.http.middlewares.${CLIENT}-sablier.plugin.sablier.dynamic.displayName=${CLIENT}"
        - "traefik.http.middlewares.${CLIENT}-sablier.plugin.sablier.dynamic.refreshFrequency=30s"
        - "traefik.http.middlewares.${CLIENT}-sablier.plugin.sablier.dynamic.showDetails=true"
        - "traefik.http.middlewares.${CLIENT}-sablier.plugin.sablier.dynamic.theme=hrcode"
        - "traefik.http.middlewares.${CLIENT}-sablier.plugin.sablier.sablierUrl=http://sablier:10000"
        - "traefik.http.middlewares.${CLIENT}-sablier.plugin.sablier.sessionDuration=${SUSPENDTIME}"        

